@import "../../styles/color";
.text-input {
  align-items: center;
  display: flex;
  justify-content: space-between;
  & label {
    font-size: 1rem;
    line-height: 1.125rem;
    color: $color-primary-2;
    text-transform: capitalize;
  }

  & input {
    width: 100%;
    background-color: $color-background;
    color: $color-primary-2;
    border: none;
    padding: 0.7rem;
    border-radius: 0.4375rem;
    outline: none;
  }
}
