$color-primary-1: #374775;
$color-primary-2: #6c7797;
$color-primary-3: #959db8;
$color-primary-4: #abb6d6;
$color-primary-5: #c2c9db;
$color-primary-6: #e3e6f1;
$color-primary-7: #ebedf2;

$color-secondary-1: #58cc87;
$color-secondary-2: #48e580;
$color-secondary-3: #e3f6eb;

$color-gray-6: #333333;
$color-gray-5: #606060;
$color-gray-4: #9f9f9f;
$color-gray-3: #c1c0c0;
$color-gray-2: #e9e9e9;
$color-background: #eeeeee;

$color-white: #ffffff;

$color-danger-1: #c65161;
$color-danger-2: #ebcbcf;
$color-danger-3: #ffe0ce;

$color-warning-1: #ffc917;
$color-warning-2: #fff0be;
$color-warning-3: #ff8946;
