@import "../../styles/color";

.spin-container {
  position: relative;
  height: 100%;
  &::after {
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: transparent;
    transition: all 0.3s;
    content: "";
    pointer-events: none;
  }
  &--loading {
    &::after {
      opacity: 0.4;
      background-color: $color-primary-5;
      pointer-events: all;
    }
  }
}
