@import "../../styles/color";

.search-box {
  border: solid $color-primary-2 1.5px;
  outline: none;
  background-color: white;
  color: $color-primary-2;
  width: 100%;
  height: 2.5rem;
  border-radius: 0.4375rem;
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 0.6rem;

  &::placeholder {
    text-align: center;
    color: $color-primary-2;
  }
}
