@import "../../styles/color";

.lom-node-button {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5625rem 0.6875rem;
  border-radius: 0.4375rem;
  background-color: $color-primary-2;
  color: white;
  font-size: 1rem;
  line-height: 1.0625rem;
  margin-bottom: 0.625rem;
  border: none;
  * {
    cursor: pointer;
  }
  cursor: pointer;
  &--selected {
    background-color: $color-secondary-1;
    &:hover {
      background-color: $color-secondary-1;
    }
  }

  &__arrow {
    fill: white;
    stroke: white;
    transition: 0.25s;
    &--open {
      transform: scale(1.5) rotate(90deg);
    }
  }

  &__setting {
    fill: white;
    stroke: white;
    stroke-width: 1.5;
  }
}
