@import "../../styles/color";

.container {
  background-color: $color-white;
  border-radius: 20px;
  padding-block-start: 25px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  padding-inline-start: 26px;
  margin-block-end: 20px;
}

.search {
  padding-inline-start: 18px;
  padding-inline-end: 18px;
  margin-block-end: 20px;
}
